.container {
    display: flex;
    justify-content: space-between;
    height: 1000px;
    flex-direction: initial;
    width: 100%;
    max-width: 1000px;
    background-color: white;
    .sobremi-description{
        width: 100%;
        float: left;
        height: 100%;
        .sobre {
            font-weight: bolder;
            margin: 0;
            position: relative;
            top: 5%;
            left: 50%;
            width: 50%;
            text-align: center;
            overflow: auto;
        }
    }
    .sobremi{
        padding-bottom: 200px;
        float: left;
        width: 50%;
        .sobremi img {
            width: 300px;
            margin-left: 10%;
        
        }
    }
}