.container {
    display: flex;
    justify-content: space-around;
    height: 600px;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    background-color:white;
    .sobremi-description{
        width: 350%;
        float: inline-start;
        height: 100%;
        .sobre {
            font-weight: bolder;
            margin: 0;
            position: relative;
            top: 5%;
            left: 10%;
            width: 50%;
            text-align: center;
            overflow: auto;
        }
    }
    .sobremi{
        padding-bottom: 200px;
        float: left;
        width: 50%;
        img {
            width: 350px;
            margin-left: 10%;
        
        }
    }
}